/* MenusComponent's private CSS styles */
.main-menu-container{
  max-width: 1200px;
}

.mainMenu-item{
  font-size: 1.1em;
}

.subMenu-item{
  margin-left: 20px;
  font-size: 1.3em;
}

.submenu-title{
  margin-bottom: -5px;
}
