<div class="food-item bg-white" (click)="openDetails(foodDetailTemplate)">
  <img *ngIf="food.picturePath" [src]="food.picturePath">
  <div class="food-title clearfix">
    <h5 class="float-left">{{food.name}}</h5>
    <i class="float-right fa fa-cart-plus cart-icon"></i>
  </div>
  <div class="food-price">{{food.price | currency}}</div>
  <div class="food-description">{{food.description}}</div>
</div>

<ng-template #foodDetailTemplate let-c="close" let-d="dismiss">
  <div class="modal-body">
    <i class="fa fa-arrow-left cursor-pointer" (click)="d('Cross click')"></i>
    <img *ngIf="food.picturePath" class="modal-img" [src]="food.picturePath">
    <div class="food-title">{{food.name}}</div>
    <div class="food-description">{{food.description}}</div>
    <div *ngIf="food.foodSizes" class="top30">
      <div class="size-container">
        <div *ngFor="let foodSize of food.foodSizes" class="food-size py-3" [ngClass]="{'active': foodSize === food.selectedSize}">
          <div class="text-center food-size-name">{{foodSize.name}}</div>
          <div class="food-price text-center">{{foodSize.price}}</div>
        </div>
      </div>
      <span class="text-success font-italic">Answer following questions to customize your order</span>
      <div *ngFor="let foodSection of food.foodSections">
        <h5 class="top15">{{foodSection.name}} ?</h5>
        <div *ngFor="let item of foodSection.items" class="clearfix top7">
          <div class="float-left">
            <input type="checkbox" (change)="item.value = !item.value; food.calculatePrice();">
            {{item.name}}
          </div>
          <div *ngIf="item.price" class="float-right">{{item.price | currency}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-mealsy1 btn-large mx-auto add-to-cart-btn" (click)="addFoodToCart(); c('Close click')">ADD TO CART</button>
  </div>
</ng-template>
