/* FoodDetailComponent's private CSS styles */

.food-item {
  padding: 5px;
}

.food-title {
  font-size: 1.2em;
}

img {
  width: 100%;
}

img.modal-img {
  padding: 0 40px;
}

.food-item .food-title {
}

.food-price {
  color: gray;
  font-size: 0.9em;
}

.food-description {
  font-size: 0.9em;
}

.cart-icon {
  font-size: 2em;
  padding-right: 5px;
}

.add-to-cart-btn {
  width: 250px;
}

.size-container {
  display: flex;
  margin: 0 -16px;
}

.food-size {
  flex: 1;
  cursor: pointer;
  border: solid lightgray;
  border-width: 1px 0 1px 1px;
}

.food-size:first-child{
  border-left-width: 0;
}

.food-size.active {
  background-color: rgb(0, 200, 100);
  color: white;
}

.food-size-name {
  font-size: 1.2em;
}
