<div class="food-item bg-white cursor-pointer clearfix" (click)="openDetails(foodDetailTemplate)">
  <img class="food-picture" *ngIf="food.picturePath" [src]="food.picturePath + '_' + food.id + '_600X400.jpg'">
  <div class="food-information">
    <div class="food-title clearfix">
      <div class="float-left food-name">{{food.name}}</div>
      <img src="./assets/icons/Add-to-cart.png" class="float-right d-none d-sm-block mealsy-icon">
    </div>
    <div class="food-price">{{food.price | currency}}</div>
    <div class="food-description">{{food.description}}</div>
  </div>
</div>

<ng-template #foodDetailTemplate let-c="close" let-d="dismiss">
  <div class="modal-body food-detail-modal">
    <i class="fa fa-arrow-left cursor-pointer" (click)="d('Cross click')"></i>
    <img *ngIf="food.picturePath" class="modal-picture" [src]="food.picturePath + '_' + food.id + '_600X400.jpg'">
    <div class="modal-food-title">{{food.name}}</div>
    <div class="modal-food-description">{{food.description}}</div>
    <div class="mt-3">
      <div *ngIf="food.foodSizes && food.foodSizes.length > 1" class="size-container">
        <div *ngFor="let foodSize of food.foodSizes" class="food-size" (click)="selectSize(foodSize)"
             [ngClass]="{'active': foodSize === food.selectedSize}">
          <div class="text-center food-size-name">{{foodSize.name}}</div>
          <div class="food-price text-center">{{foodSize.price}}</div>
        </div>
      </div>
      <div *ngIf="food.selectedSize.questions && food.selectedSize.questions.length">
        <div class="answer-following-text text-center font-italic">Answer following questions to customize your order</div>
        <div *ngFor="let question of food.selectedSize.questions">
          <app-food-question [food]="food" [question]="question"></app-food-question>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer food-detail-footer">
    <button type="button" class="btn btn-mealsy1 btn-large mx-auto add-to-cart-btn"
            (click)="addFoodToCart();">ADD TO CART
    </button>
  </div>
</ng-template>
