/* FoodDetailComponent's private CSS styles */

.food-item {
  padding: 0px 10px 10px 10px;
}

.food-title {
  font-size: 1.2em;
  margin-top: 13px;
}

img {
  width: 100%;
}

img.modal-img {
  padding: 0 40px;
}

.food-item .food-title {
}

.food-price {
  margin-top: 10px;
  color: #b2b0c0;
  font-size: 11pt;
}

.food-description {
  font-style: italic;
  font-size: 12pt;
  color: #4a4a4a;
  margin-top: 13px;
  margin-bottom: 3px;
}

.cart-icon {
  height: 20px;
  width: 20px;
}

.add-to-cart-btn {
  width: 250px;
}

.size-container {
  display: flex;
  margin: 0 -16px;
}

.food-size {
  flex: 1;
  cursor: pointer;
  border: solid lightgray;
  border-width: 1px 0 1px 1px;
}

.food-size:first-child {
  border-left-width: 0;
}

.food-size.active {
  background-color: #00C864;
  color: white;
}

.food-size-name {
  font-size: 1.2em;
}

.food-name {
  font-weight: bold;
  font-size: 14pt;
  color: #4a4a4a;
}
