<app-navbar></app-navbar>
<div class="container order-setting-container mt-sm-3 p-2 p-sm-4 bg-white">
  <h5>ORDER SETTING</h5>

  <div class="mt-3"><span class="fa fa-cog"></span> SELECT YOUR ORDER TYPE</div>
  <div class="px-3">
    <label class="checkmark-container mt-3">PICKUP
      <input type="radio" checked="checked" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="checkmark-container">DELIVERY
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>

    <div class="mt-4 clearfix address-container text-secondary">
      Address
      <hr>
    </div>
    <div class="mt-2 clearfix address-container text-secondary">
      Postal Code
      <hr>
    </div>
    <div class="mt-2 clearfix address-container text-secondary">
      Unit Number
      <hr>
    </div>
    <div class="mt-2 clearfix address-container text-secondary">
      Buzzer
      <hr>
    </div>
    <div class="mt-2 clearfix address-container text-secondary">
      City
      <hr>
    </div>
    <div class="mt-2 clearfix address-container text-secondary">
      Province
      <hr>
    </div>
  </div>
  <div class="mt-1"><span class="fa fa-clock"></span>SCHEDULED FOR</div>
  <button type="button" class="btn btn-mealsy1 btn-large d-block mx-auto mt-4 continue-btn" [routerLink]="['/menus']">CONTINUE</button>
</div>
