<app-navbar></app-navbar>
<div class="d-flex flex-row">
  <div class="d-none d-md-block menu-list-container p-4 bg-mealsy2">
    <ul class="list-group list-group-flush">
      <ng-template ngFor let-menu [ngForOf]="menus">
        <li class="list-group-item mainMenu-item bg-mealsy2">
          <i class="fa fa-angle-right"></i>
          {{menu.name}}
        </li>
        <li *ngFor="let subMenu of menu.menuSections" class="list-group-item subMenu-item bg-mealsy2">{{subMenu.name}}
        </li>
      </ng-template>
    </ul>
  </div>
  <h5 *ngIf="!menus" class="text-center">Loading...</h5>
  <div class="menu-items-container bg-mealsy1 px-4">
    <ng-template ngFor let-menu [ngForOf]="menus">
      <ng-template ngFor let-subMenu [ngForOf]="menu.menuSections">
        <h5 class="submenu-title mt-4">{{subMenu.name}}</h5>
        <div class="d-flex flex-row flex-wrap align-content-around menu-food-item-container">
          <div *ngFor="let food of subMenu.foods" class="mt-3 mx-2 menu-food-item bg-white">
            <app-food-detail [food]="food"></app-food-detail>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
