<div class="food-item bg-white" (click)="openDetails(foodDetailTemplate)">
  <img src="./assets/images/pizza.png">
  <div class="food-title clearfix">
    <p class="float-left">{{food.name}}</p>
    <i class="float-right fa fa-cart-plus cart-icon"></i>
  </div>
  <div class="food-price">{{food.price | currency}}</div>
  <div class="food-description">{{food.description}}</div>
</div>

<ng-template #foodDetailTemplate let-c="close" let-d="dismiss">
  <div class="modal-body">
    <i class="fa fa-arrow-left cursor-pointer" (click)="d('Cross click')"></i>
    <img class="modal-img" src="./assets/images/pizza.png">
    <div class="food-title">
      <p>{{food.name}}</p>
    </div>
    <div class="food-price">{{food.totalPrice | currency}}</div>
    <div class="food-description">{{food.description}}</div>
    <div *ngIf="food.foodSections" class="top30">
      <span class="text-success font-italic">Answer following questions to customize your order</span>
      <div *ngFor="let foodSection of food.foodSections">
        <h5 class="top15">{{foodSection.name}} ?</h5>
        <div *ngFor="let item of foodSection.items" class="clearfix top7">
          <div class="float-left">
            <input type="checkbox" (change)="item.value = !item.value; food.calculatePrice();">
            {{item.name}}
          </div>
          <div *ngIf="item.price" class="float-right">{{item.price | currency}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-mealsy1 btn-large mx-auto add-to-cart-btn" (click)="cartService.addFood(food); c('Close click')">ADD TO CART</button>
  </div>
</ng-template>
