/* FoodDetailComponent's private CSS styles */

.food-item{
 padding: 5px;
}

img{
  width: 100%;
}

img.modal-img{
  padding: 0 40px;
}

.food-item .food-title{
}

.food-price{
  color: gray;
  font-size: 0.9em;
}

.food-description{
  font-size: 0.9em;
}

.cart-icon{
  font-size: 2em;
  padding-right: 5px;
}

.add-to-cart-btn{
  width: 250px;
}
