.cart-container{
  max-width: 600px;
}

.food-price{
  color: gray;
  font-size: 0.9em;
}

.cart-btn{
  width: 300px;
  max-width: 100%;
}

.food-section-title{
  font-size: 0.85em;
  margin-bottom: 1px;
}

.food-section-items{
  font-style: italic;
  font-size: 0.8em;
  display: inline-block;
  line-height: 120%;
}

.cart-padding{
  padding: 25px 30px 15px 30px;
}

.cart-empty-message{
  font-size: 1.2em;
  text-align: center;
}

.cart-quantity-text{
  font-size: 0.85em;
}
