.cart-container{
  max-width: 800px;
}

.food-price{
  color: gray;
  font-size: 0.9em;
}

.cart-btn{
  width: 300px;
  max-width: 100%;
}

.food-section-title{
  font-size: 0.8em;
}

.food-section-items{
  font-style: italic;
  font-size: 0.8em;
}
