@media (max-width: 767px) {
  .navbar.sticky-top {
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid lightgray;
  }
}

.navbar-right-side {
  padding-right: 30px;
  position: relative;
}

.top-cart-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.top-cart-icon:focus {
  outline: none;
}

.top-cart-counter {
  position: absolute;
  height: 15px;
  width: 15px;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  border-radius: 50%;
  right: 22px;
  top: 0;
}

.pickup-delivery {
  color: #00C864;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.top-cart-icon.shake,
.top-cart-counter.shake {
  animation: shake 0.5s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, -2px)
  }
  20% {
    transform: translate(-2px, 0px)
  }
  30% {
    transform: translate(2px, 2px)
  }
  40% {
    transform: translate(1px, -1px)
  }
  50% {
    transform: translate(-1px, 2px)
  }
  60% {
    transform: translate(-2px, 1px)
  }
  70% {
    transform: translate(2px, 1px)
  }
  80% {
    transform: translate(-1px, -1px)
  }
  90% {
    transform: translate(1px, 2px)
  }
  100% {
    transform: translate(1px, -2px)
  }
}
