@media (max-width: 767px) {
  .navbar.sticky-top {
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid lightgray;
  }
}

.navbar-right-side {
  padding-right: 30px;
  position: relative;
}

.top-cart-icon {
  font-size: 2em;
  cursor: pointer;
}

.top-cart-icon:focus {
  outline: none;
}

.top-cart-counter {
  position: absolute;
  height: 15px;
  width: 15px;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  border-radius: 50%;
  right: 22px;
}

.pickup-delivery {
  color: #00C864;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
