<div class="container home-container bg-white mt-sm-5 p-2 p-sm-4">
  <img class="d-block mx-auto" src="./assets/images/mainLogo.jpg">
  <h3 class="text-center mt-4">PIZZA CAFE</h3>

  <div class="input-group input-group-lg login-input mt-5">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-user"></i>
      </span>
    </div>
    <input type="text" class="form-control" placeholder="Email address">
  </div>
  <div class="input-group input-group-lg login-input mt-1">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-key"></i>
      </span>
    </div>
    <input type="password" class="form-control" placeholder="Password">
  </div>

  <button type="button" class="btn btn-mealsy1 btn-large d-block mx-auto mt-4 login-btn" [routerLink]="['/order-setting']">SIGN IN</button>
  <span class="text-center d-block mt-3 cursor-pointer">I forgot my password</span>
  <span class="text-center d-block mt-4 text-secondary">Not a member yet?</span>
  <span class="text-center d-block join-text cursor-pointer">JOIN</span>
</div>
<h5 class="footer-note bottom30 text-center mt-1">Powered by Mealsy.ca</h5>
