<div class="container cart-container">
  <div class="cart-padding">
  <h4>CART</h4>
    <div class="clearfix">
      <h5 class="float-left">ITEMS</h5>
      <h5 class="float-right">PRICE</h5>
    </div>
  </div>
  <div *ngFor="let item of cartService.cart.items" class="bg-white cart-padding top3">
    <div class="clearfix">
      <h5 class="float-left">{{item.food.name}}</h5>
      <span class="float-right food-price">{{item.food.totalPrice | currency}}</span>
    </div>
    <div *ngFor="let foodSection of item.food.foodSections" class="top10">
      <h5 class="food-section-title">{{foodSection.name}}</h5>
      <span class="food-section-items top5">{{foodSection.selectedItems}}</span>
    </div>
    <div class="clearfix top15">
      <h5 class="float-left cart-quantity-text top5">Quantity</h5>
      <app-quantity class="float-right" [(quantity)]="item.quantity" (quantityChange)="cartService.cart.calculatePrice()"></app-quantity>
    </div>
  </div>
  <h5 class="bg-white cart-padding .cart-empty-message text-center" *ngIf="!cartService.cart.items.length">Your cart is empty</h5>
  <div class="cart-padding bg-white bottom15">
    <button type="button" class="btn btn-mealsy1 btn-large d-block mx-auto cart-btn">CHECKOUT</button>
    <button type="button" class="btn btn-mealsy2 btn-large d-block mx-auto cart-btn top5" [routerLink]="['/menus']">CONTINUE SHOPPING</button>
  </div>
  <h5 class="footer-note bottom30 text-center">Powered by Mealsy.ca</h5>
</div>
