<form #pickupDelivery="ngForm">
  <div class="modal-body">
    <i class="fa fa-arrow-left cursor-pointer" (click)="activeModal.close()"></i>
    <div class="mt-3"><span class="fa fa-cog mr-2"></span>SELECT YOUR ORDER TYPE</div>
    <div class="px-3">
      <label class="checkmark-container mt-3">PICKUP
        <input type="radio" [(ngModel)]="order.isPickup" [value]="true" name="pickupOrDelivery">
        <span class="checkmark"></span>
      </label>
      <label class="checkmark-container">DELIVERY
        <input type="radio" [(ngModel)]="order.isPickup" [value]="false" name="pickupOrDelivery">
        <span class="checkmark"></span>
      </label>
      <span *ngIf="order.isPickup === false">
        <div class="mt-4 clearfix address-container text-secondary">
          <label for="addressLine1" class="input-label float-left cursor-pointer">Address</label>
          <input type="text" class="float-right faded-input" id="addressLine1" name="addressLine1"
                 [(ngModel)]="order.address.addressLine1">
        </div>
        <hr>
        <div class="clearfix address-container text-secondary">
          <label for="postalCode" class="input-label mt-1 float-left cursor-pointer">Postal Code</label>
          <input type="text" class="float-right faded-input" id="postalCode" name="postalCode"
                 [(ngModel)]="order.address.postalCode">
        </div>
        <hr>
        <div class="clearfix address-container text-secondary">
          <label for="unitNumber" class="input-label mt-1 float-left cursor-pointer">Unit Number</label>
          <input type="text" class="float-right faded-input" id="unitNumber" name="unitNumber"
                 [(ngModel)]="order.address.unitNumber">
        </div>
        <hr>
        <div class="clearfix address-container text-secondary">
          <label for="buzzer" class="input-label mt-1 float-left cursor-pointer">Buzzer</label>
          <input type="text" class="float-right faded-input" id="buzzer" name="buzzer"
                 [(ngModel)]="order.address.buzzer">
        </div>
        <hr>
        <div class="clearfix address-container text-secondary">
          <label for="city" class="input-label mt-1 float-left cursor-pointer">City</label>
          <input type="text" class="float-right faded-input" id="city" name="city" [(ngModel)]="order.address.city">
        </div>
        <hr>
        <div class="clearfix address-container text-secondary">
          <label for="province" class="input-label mt-1 float-left cursor-pointer">Province</label>
          <input type="text" class="float-right faded-input" id="province" name="province"
                 [(ngModel)]="order.address.province">
        </div>
        <hr>
      </span>
    </div>
    <div class="mt-1"><span class="fa fa-calendar mr-2"></span>SCHEDULED FOR</div>
    <div class="px-3 clearfix">
      <div class="float-left">
        <label class="checkmark-container mt-3">NOW
          <input type="radio" [(ngModel)]="order.isForNow" [value]="true" name="scheduledForNow">
          <span class="checkmark"></span>
        </label>
        <label class="checkmark-container ">LATER
          <input type="radio" [(ngModel)]="order.isForNow" [value]="false" name="scheduledForNow">
          <span class="checkmark"></span>
        </label>
      </div>
      <input *ngIf="!order.isForNow" type="text" class="float-right faded-input mt-5" id="scheduledFor" name="scheduledFor" [(ngModel)]="order.scheduledFor">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-mealsy1 btn-large mx-auto pickup-delivery-btn" (click)="activeModal.close()">
      CONTINUE
    </button>
  </div>
</form>
