.checkout-btn {
  width: 300px;
  max-width: 100%;
}

.checkout-padding {
  padding: 25px 30px 15px 30px;
}

.switch-btn {
  height: 30px;
  width: 150px;
  font-weight: normal;
}

.tip-btn,
.payment-type-btn {
  height: 30px;
  font-weight: normal;
  width: 100%;
}

.tip-btn.active,
.payment-type-btn.active {
  background-color: #00C864;
}

.coupon-container {
  border-top: 2px dashed #f8f9fa;
}

.coupon-circle {
  position: absolute;
  background-color: #f8f9fa;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: -10px;
}

.coupon-circle.left {
  left: -10px;
}

.coupon-circle.right {
  right: -10px;
}

.coupon-circle-container {
  position: relative;
}

.apply-coupon-btn {
  width: 90px;
}

.coupon-input {
  text-align: left;
  font-size: 0.9em;
}

.coupon-input::placeholder,
.card-input::placeholder {
  color: lightgray;
}

.card-input {
  text-align: left;
  font-size: 0.9em;
  width: 100%;
}

.backend-error {
  word-wrap: break-word;
}

.tip-input-container{
  color: lightgray;
  border-bottom: 1px solid lightgray;
}

.left-indent{
  margin-left: 32px;
}
