.checkout-btn {
  width: 300px;
  max-width: 100%;
}

.checkout-padding {
  padding: 0 22px 0 22px;
  color: #4a4a4a;
}

.switch-btn {
  height: 30px;
  width: 150px;
  font-weight: normal;
}

.tip-btn,
.payment-type-btn {
  height: 30px;
  font-weight: normal;
  width: 100%;
}

.tip-btn.active,
.payment-type-btn.active {
  background-color: #00C864;
}

.coupon-container {
  border-top: 2px dashed #f8f9fa;
}

.coupon-circle {
  position: absolute;
  background-color: #f8f9fa;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: -10px;
}

.coupon-circle.left {
  left: -10px;
}

.coupon-circle.right {
  right: -10px;
}

.coupon-circle-container {
  position: relative;
}

.apply-coupon-btn {
  width: 90px;
}

.coupon-input {
  text-align: left;
  font-size: 0.9em;
}

.coupon-input::placeholder,
.card-input::placeholder {
  color: lightgray;
}

.card-input {
  text-align: left;
  font-size: 0.9em;
  width: 100%;
}

.backend-error {
  word-wrap: break-word;
}

.tip-input-container{
  color: lightgray;
  border-bottom: 1px solid lightgray;
}

.left-indent{
  margin-left: 32px;
}

.checkout-food-provider {
  font-weight: bold;
  font-size: 1.1em;
}

.checkout-food-provider-city {
  font-weight: bold;
  font-size: 0.7em;
  color: #b2b0c0;
  margin-top: 8px;
  margin-bottom: 25px;
}

.checkout-text{
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 14px;
  margin-top: 14px;
}

.checkout-general-container{
  padding-top: 20px;
  padding-bottom: 14px;
}

.checkout-icons{
  width: 20px;
  height: 20px;
  margin-left: -8px;
  margin-right: 14px;
}

.checkout-icons.fa-truck{
  font-size: 20px;
}

.checkout-general-text{
  font-weight: bold;
  font-size: 0.9em;
}

.checkout-hr{
  margin: 20px -22px;
  background-color: #F7F7F7;
}
