<app-navbar></app-navbar>
<div *ngIf="order" class="container mealsy-container">
  <div class="checkout-padding">
    <div class="text-center checkout-food-provider">{{orderService.order.foodProvider.name}}</div>
    <div class="checkout-text">CHECKOUT</div>
  </div>
  <div class="checkout-padding checkout-general-container bg-white">
    <div *ngIf="errors?.emptyCart" class="text-center text-danger mb-2">{{errors.emptyCart}}</div>
    <div *ngIf="errors?.maxAnswer" class="text-center text-danger mb-2">{{errors.maxAnswer}}</div>
    <div *ngIf="errors?.deliveryPickupOnly" class="text-center text-danger mb-2">{{errors.deliveryPickupOnly}}</div>
    <div *ngIf="errors?.backendError" class="text-center text-danger mb-2 backend-error">{{errors.backendError}}</div>
    <div class="clearfix">
      <div class="float-left">
        <img src="./assets/icons/OrderSettings.png" class="checkout-icons"><span class="checkout-general-text">{{orderService.order.isPickup? "PICKUP" : "DELIVERY"}}</span>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-sm btn-mealsy2 switch-btn" (click)="orderService.openPickupDelivery()">
          Switch to {{orderService.order.isPickup? "Delivery": "pickup"}}
        </button>
      </div>
    </div>
    <hr class="checkout-hr">
    <img src="./assets/icons/Pin.png" class="checkout-icons"><span class="checkout-general-text">PERSONAL INFO</span>
    <div class="left-indent mt-3">
      <div class="clearfix">
        <label for="orderName" class="input-label mt-1 float-left cursor-pointer">Name</label>
        <input #orderName="ngModel" type="text" placeholder="Your name" class="float-right faded-input" id="orderName" name="orderName"
               [(ngModel)]="order.orderName">
      </div>
      <div class="clearfix">
        <label for="phoneNumber" class="input-label mt-1 float-left cursor-pointer">Phone</label>
        <input #phoneNumber="ngModel" OnlyNumber="true" type="text" placeholder="Your phone number" class="float-right faded-input" id="phoneNumber" name="phoneNumber"
               [(ngModel)]="order.orderPhoneNumber">
      </div>
    </div>
    <hr class="checkout-hr">
    <div *ngIf="!orderService.order.isPickup">
      <div class="d-flex flex-row">
        <span class="fa fa-truck checkout-icons"></span>
        <div class="checkout-general-text">{{orderService.order.address.placeId? orderService.order.address.toString() : '-Not entered'}}</div>
      </div>
      <hr class="checkout-hr">
    </div>
    <div class="clearfix">
      <div class="float-left">
        <img src="./assets/icons/Schedual.png" class="checkout-icons"><span class="checkout-general-text">SCHEDULED FOR</span>
      </div>
      <div class="float-right checkout-general-text">{{orderService.order.isForNow? 'Now' : orderService.order.scheduledFor}}</div>
    </div>
    <hr class="checkout-hr">
    <div *ngIf="order.foodProvider.acceptTip">
      <span class="fa fa-money checkout-icons"></span><span class="checkout-general-text">TIP</span>
      <div class="d-flex flex-row left-indent tip-row">
        <button type="button" class="btn btn-sm btn-mealsy2 tip-btn ml-1"
                [ngClass]="{'active': orderService.order.tipType === 1}" (click)="orderService.updateTip(1)">Round
        </button>
        <button type="button" class="btn btn-sm btn-mealsy2 tip-btn ml-1"
                [ngClass]="{'active': orderService.order.tipType === 5}" (click)="orderService.updateTip(5)">5%
        </button>
        <button type="button" class="btn btn-sm btn-mealsy2 tip-btn ml-1"
                [ngClass]="{'active': orderService.order.tipType === 10}" (click)="orderService.updateTip(10)">10%
        </button>
        <button type="button" class="btn btn-sm btn-mealsy2 tip-btn ml-1"
                [ngClass]="{'active': orderService.order.tipType === 15}" (click)="orderService.updateTip(15)">15%
        </button>
      </div>
      <div class="clearfix left-indent tip-input-container">
        <label for="tipAmount" class="input-label float-left cursor-pointer">Tip</label>
        <input type="text" OnlyNumber="true" class="float-right faded-input" id="tipAmount" name="tipAmount" placeholder="Enter custom tip amount"
               [(ngModel)]="orderService.order.tipAmount" (change)="orderService.updateTip(0)">
      </div>
    </div>
  </div>
  <div class="checkout-padding price-container bg-white mx-2 mt-2">
    <div class="clearfix">
      <div class="float-left">Subtotal</div>
      <div class="float-right">{{cart.subTotalPrice | currency}}</div>
    </div>
    <div class="clearfix mt-2">
      <div class="float-left">Tax</div>
      <div class="float-right">{{cart.taxPrice | currency}}</div>
    </div>
    <div *ngIf="order.foodProvider.acceptTip" class="clearfix mt-2">
      <div class="float-left">Tip</div>
      <div class="float-right">{{order.totalTip | currency}}</div>
    </div>
    <div class="clearfix mt-2">
      <div class="float-left">Delivery Charge</div>
      <div class="float-right">{{order.deliveryCharge | currency}}</div>
    </div>
    <div class="clearfix mt-2">
      <div class="float-left">Delivery Tax</div>
      <div class="float-right">{{order.deliveryTax | currency}}</div>
    </div>
    <div class="clearfix mt-2">
      <div class="float-left">Discount</div>
      <div class="float-right">{{order.discount | currency}}</div>
    </div>
    <div *ngIf="errors?.minOrder" class="text-center text-danger mb-2">{{errors.minOrder}}</div>
    <div class="clearfix mt-2 mealsy-green total-price">
      <div class="float-left">TOTAL</div>
      <div class="float-right">{{order.totalPrice | currency}}</div>
    </div>
  </div>
  <div class="coupon-circle-container mx-2">
    <div class="coupon-circle left"></div><div class="coupon-circle right"></div>
  </div>
  <div class="checkout-padding bg-white mx-2 coupon-container">
    <div>APPLY COUPON</div>
    <div class="clearfix top14">
      <input type="text" class="float-left faded-input coupon-input"  [(ngModel)]="currentCoupon" placeholder="Enter the coupon code">
      <button type="button" class="btn btn-mealsy1 btn-large float-right apply-coupon-btn ml-2">APPLY</button>
    </div>
  </div>
  <div class="checkout-padding bg-white mt-2 mb-5 payment-container">
    <img src="./assets/icons/PaymentMethod.png" class="checkout-icons"><span class="checkout-general-text">PAYMENT METHODS</span>
    <div class="left-indent top40">
      <label class="checkmark-container"><span class="checkout-general-text">PAY UPON DELIVERY OR PICKUP</span>
        <input type="radio" [(ngModel)]="order.isPayOnline" [value]="false" name="isPayOnline">
        <span class="checkmark"></span>
      </label>
      <div *ngIf="!order.isPayOnline">
        <div class="d-flex flex-row px-3 mt-3">
          <button type="button" class="btn btn-sm btn-mealsy2 payment-type-btn ml-1"
                  [ngClass]="{'active': order.paymentType === 'Cash'}" (click)="order.paymentType = 'Cash'">Cash
          </button>
          <button type="button" class="btn btn-sm btn-mealsy2 payment-type-btn ml-1"
                  [ngClass]="{'active': order.paymentType === 'Debit'}" (click)="order.paymentType = 'Debit'">Debit
          </button>
          <button type="button" class="btn btn-sm btn-mealsy2 payment-type-btn ml-1"
                  [ngClass]="{'active': order.paymentType === 'Visa'}" (click)="order.paymentType = 'Visa'">Visa
          </button>
          <button type="button" class="btn btn-sm btn-mealsy2 payment-type-btn ml-1"
                  [ngClass]="{'active': order.paymentType === 'MasterCard'}" (click)="order.paymentType = 'MasterCard'">MasterCard
          </button>
        </div>
        <div *ngIf="errors?.paymentType && order.paymentType === 'None'" class="error-message">{{errors.paymentType}}</div>
      </div>
      <hr>
      <label class="checkmark-container"><span class="checkout-general-text">PAY ONLINE NOW</span>
        <input type="radio" [(ngModel)]="order.isPayOnline" [value]="true" name="isPayOnline">
        <span class="checkmark"></span>
      </label>
      <div *ngIf="order.isPayOnline" class="ml-2" >
        <form #newCardForm="ngForm" >
          <div *ngIf="errors?.newCard && newCardForm.pristine" class="error-message">{{errors.newCard}}</div>
          <input name="cardNumber" OnlyNumber="true" type="text" class="faded-input card-input" [(ngModel)]="order.newCard.cardNumber" placeholder="Credit Card">
          <input name="nameOnCard" type="text" class="faded-input card-input mt-2" [(ngModel)]="order.newCard.nameOnCard" placeholder="Name on Card">
          <div class="d-flex flex-row mt-2">
            <div class="d-flex flex-row">
              <input maxlength="2" name="month" OnlyNumber="true" type="text" class="faded-input card-input" [(ngModel)]="order.newCard.month" placeholder="Month">
              <input maxlength="2" name="year" OnlyNumber="true" type="text" class="faded-input card-input" [(ngModel)]="order.newCard.year" placeholder="Year">
            </div>
            <input name="ccv" OnlyNumber="true" type="text" class="faded-input card-input" [(ngModel)]="order.newCard.ccv" placeholder="CCV">
          </div>
        </form>
      </div>
    </div>
    <button type="button" class="btn btn-mealsy1 btn-large d-block mx-auto checkout-btn mt-5" (click)="submitOrder()">ORDER</button>
    <button type="button" class="btn btn-mealsy2 btn-large d-block mx-auto checkout-btn mt-2" queryParamsHandling="merge" [routerLink]="['/cart']">
      BACK TO CART
    </button>
  </div>
  <h5 class="footer-note bottom30 text-center">Powered by Mealsy.ca</h5>
</div>
